<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.neutrinoproxy.server.dal.DomainMappingMapper">
    
    <select id="selectDomainMappingByCondition" resultType="org.dromara.neutrinoproxy.server.dal.entity.DomainMappingDO">
        SELECT pm.*,l.is_online as isOnline
        FROM domain_mapping  pm
        LEFT JOIN license l ON pm.license_id = l.`id`
        <where>
            <if test="req.userId != null">
                AND l.user_id = #{req.userId}
            </if>
            <if test="req.licenseId != null">
                AND pm.license_id = #{req.licenseId}
            </if>
            <if test="req.domain != null">
                AND pm.domain = #{req.domain}
            </if>
            <if test="req.isOnline != null">
                AND l.is_online = #{req.isOnline}
            </if>
            <if test="req.enable != null">
                AND pm.enable = #{req.enable}
            </if>
            <if test="req.protocal != null and req.protocal != ''">
                AND pm.protocal = #{req.protocal}
            </if>
            <if test="req.description != null and req.description != '' ">
                AND pm.description like #{req.description}
            </if>
        </where>
        order by pm.id asc
    </select>
</mapper>