<mapper namespace = "fun.asgc.neutrino.proxy.server.dal.UserTokenMapper">

    <insert id = "add">
        insert into `user_token`(`token`,`user_id`,`expiration_time`,`create_time`,`update_time`)
        values (:token, :userId, :expirationTime, :createTime, :updateTime)
    </insert>

    <select id = "findByAvailableToken">
        select * from user_token where token = ? and expiration_time > ?
    </select>

</mapper>
