<!--<mapper namespace = "fun.asgc.neutrino.proxy.server.dal.LicenseMapper">-->

<!--    <select id="pageInfo" resultType="fun.asgc.neutrino.proxy.server.controller.res.LicenseListRes">-->
<!--        select * from `license`-->
<!--    </select>-->

<!--    <insert id="add">-->
<!--        insert into `license`(`name`,`key`,`user_id`,`is_online`,`enable`,`create_time`,`update_time`)-->
<!--        values (:name, :key, :userId, :isOnline, :enable, :createTime, :updateTime)-->
<!--    </insert>-->

<!--</mapper>-->
