<!--<mapper namespace = "fun.asgc.neutrino.proxy.server.dal.PortMappingMapper">-->

<!--    <insert id="add">-->
<!--        insert into `port_mapping`(`license_id`,`server_port`,`client_ip`,`client_port`,`is_online`,`enable`,`create_time`,`update_time`)-->
<!--        values (:licenseId, :serverPort, :clientIp, :clientPort, :isOnline, :enable, :createTime, :updateTime)-->
<!--    </insert>-->

<!--    <update id="update">-->
<!--        update `port_mapping`-->
<!--        set license_id = :licenseId,server_port = :serverPort,client_ip=:clientIp,client_port=:clientPort,update_time=:updateTime-->
<!--        where id =:id-->
<!--    </update>-->
<!--</mapper>-->
